.git/
.github/
.gitignore
.golangci.yml

*.md

test/
coverage.out
coverage.html
dist/
bin/
out/

deploy/helm/
deploy/docker/

config-dev/
docker-compose*.yaml
docker-compose*.yml

.idea/
.vscode/
*.swp
.DS_Store
